.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 90px 0 20px 0;
    grid-gap: 150px;
    &__pointer{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    &__title{
        font-size: 40px;
        font-weight: 700;
    }
    &__products{
        // width: 80%;
        height: 180px;
        background-color: var(--hero-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 20px;
        p{
            font-size: 40px;
            font-weight: 700;
        }
        b{
            font-size: 18px;
        }
    }
    &__blog{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 10px 0;
    }
}
.about__brand{
    width: 100%;
    &-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 20px 0;
    b{
        font-size: 25px;
    }
    div{
        button{
            width: 50px;
            height: 50px;
            border: 1px solid var(--main-text);
            background-color: var(--main-text);
            color: var(--white);
            font-size: 30px;
            margin: 0 10px;
            border-radius: 50%;
            transition: .3s;
            cursor: pointer;
            &:hover{
                background-color: var(--white);
                color: var(--main-text);
            }
        }
    }
    }
}
.about__brand-img {
    display: flex;
    align-items: center;
    gap: 40px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background: var(--hero-color);
      border: 1px solid var(--white);
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: var(--main-text);
      border-radius: 5px;
    }
  }
  
@media (max-width:700px) {
    .about{
        grid-template-columns: repeat(1,100%);
        margin: 0 auto;
        .about__pointer{
            &__products{
                width: 100%;
                margin: 0 auto;
            }            
        }
        &__brand{
            display: none;
        }
    }
}