.wishlist{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 150px 0;
    color: var(--main-text);
    button{
        background: transparent;
        border: 0;
        cursor: pointer;
        img{
            width: 130px;
            height: 130px;
        }
    }
    b{
        font-size: 25px;
        margin: 10px 0;
    }
}