.card__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  .card {
    img {
      width: 250px;
      height: 250px;
      object-fit: contain;
    }
    &__title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      b {
        padding-right: 20px;
      }

      .plusButton {
        --plus_sideLength: 2.5rem;
        --plus_topRightTriangleSideLength: 0.9rem;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        width: var(--plus_sideLength);
        height: var(--plus_sideLength);
        background-color: #000000;
        overflow: hidden;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-width: 0 var(--plus_topRightTriangleSideLength)
            var(--plus_topRightTriangleSideLength) 0;
          border-style: solid;
          border-color: transparent white transparent transparent;
          transition: border-width 0.2s ease-in-out;
        }

        &:hover,
        &:focus-visible {
          cursor: pointer;

          &::before {
            --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
          }
        }

        .plusIcon {
          fill: white;
          width: calc(var(--plus_sideLength) * 0.7);
          height: calc(var(--plus_sideLength) * 0.7);
          z-index: 1;
          transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;

          &:hover,
          &:focus-visible {
            fill: black;
            transform: rotate(180deg);
          }
        }
      }
    }
    p{
        color: var(--main-text);
    }
  }
}

@media (max-width:990px) {
    .card__wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:700px) {
    .card__wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:500px) {
    .card__wrapper{
        grid-template-columns: repeat(1,1fr);
        .card{
            width: 80%;
            margin: 0 auto;
        }
    }
}