.card__modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000060;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  &-items{
    width: 50%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    border-radius: 30px;
    &-swip{
      width: 70%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      .mySwiper{
        width: 100%;
        height: 100%;
        margin-top: -50px;
        img{
          width:  100%;
          height: 350px;
          display: block;
          margin: 0 auto;
          padding-bottom: 20px;
          object-fit: contain;
        }
        .swiper-button-next,
        .swiper-button-prev{
          color: var(--main-text);
        }
        .swiper-pagination-bullet{
          background-color: var(--main-text);  
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
          background-color: darkslategrey;
        }
      }
      &-btn{
        display: flex;
        align-items: center;
        gap: 30px;
        button{
          width: 100px;
          height: 50px;
          border-radius: 8px;
          transition: .3s;
          cursor: pointer;
        }
        .swip__btn-more{
          background-color: var(--main-text);
          color: var(--white);
          border: 1px solid var(--main-text);
          &:hover{
            background-color: var(--white);
            color: var(--main-text);
          }
        }
        .swip__btn-cancel{
          background-color: var(--white);
          border: 1px solid  var(--main-text);
          color: var(--main-text);
          &:hover{
            background-color: var(--white);
            color:  var(--main-text);
          }
        }
      }
    }
  }
}
.card__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  position: relative;
  .card {
    img {
      width: 250px;
      height: 250px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
    &__title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      b {
        padding-right: 20px;
        color: var(--main-text);
      }

    }
    p{
        color: var(--main-text);
    }
    .card__wish{
      font-size: 22px;
      background: transparent;
      border: 0 ;
      z-index: 101;
      cursor: pointer;
    }
    .plusButton{
      background: transparent;
      border: 0;
      .plusIcon{
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}


@media (max-width: 1200px) {
    .card__wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:900px) {
    .card__modal{
      &-items{
        width: 70%;
      }
    }
    .card__wrapper{
      grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:600px) {
  .card__modal{
    &-items{
      width: 100%;
      height: 80%;
    }
  }
    .card__wrapper{
        grid-template-columns: repeat(1,1fr);
        .card{
            width: 80%;
            margin: 0 auto;
        }
    }
}