.card__modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000060;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  &-items{
    width: 50%;
    height: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    border-radius: 30px;
    &-swip{
      width: 70%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 30px;
      .mySwiper{
        width: 100%;
        height: 100%;
        margin-top: -50px;
        img{
          width:  100%;
          height: 350px;
          display: block;
          margin: 0 auto;
          padding-bottom: 20px;
          object-fit: contain;
        }
        .swiper-button-next,
        .swiper-button-prev{
          color: var(--main-text);
        }
        .swiper-pagination-bullet{
          background-color: var(--main-text);  
        }
        .swiper-pagination-bullet.swiper-pagination-bullet-active{
          background-color: darkslategrey;
        }
      }
      &-btn{
        display: flex;
        align-items: center;
        gap: 30px;
        button{
          width: 100px;
          height: 50px;
          border-radius: 8px;
          transition: .3s;
          cursor: pointer;
        }
        .swip__btn-more{
          background-color: var(--main-text);
          color: var(--white);
          border: 1px solid var(--main-text);
          // transition: .3s;
          &:hover{
            background-color: var(--white);
            color: var(--main-text);
          }
        }
        .swip__btn-cancel{
          background-color: rgb(167, 25, 25);
          border: 1px solid  rgb(167, 25, 25);
          color: var(--white);
          // transition: .3s;
          &:hover{
            background-color: var(--white);
            color:  rgb(167, 25, 25);
          }
        }
      }
    }
  }
}
.card__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  .card {
    img {
      width: 250px;
      height: 250px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
    &__title {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      b {
        padding-right: 20px;
        color: var(--main-text);
      }

      .plusButton {
        --plus_sideLength: 2.5rem;
        --plus_topRightTriangleSideLength: 0.9rem;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        width: var(--plus_sideLength);
        height: var(--plus_sideLength);
        background-color: #000000;
        overflow: hidden;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-width: 0 var(--plus_topRightTriangleSideLength)
            var(--plus_topRightTriangleSideLength) 0;
          border-style: solid;
          border-color: transparent white transparent transparent;
          transition: border-width 0.2s ease-in-out;
        }

        &:hover,
        &:focus-visible {
          cursor: pointer;

          &::before {
            --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
          }
        }

        .plusIcon {
          fill: white;
          width: calc(var(--plus_sideLength) * 0.7);
          height: calc(var(--plus_sideLength) * 0.7);
          z-index: 1;
          transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;

          &:hover,
          &:focus-visible {
            fill: black;
            transform: rotate(180deg);
          }
        }
      }
    }
    p{
        color: var(--main-text);
    }
  }
}


@media (max-width: 1200px) {
    .card__wrapper{
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:900px) {
    .card__modal{
      &-items{
        width: 70%;
      }
    }
    .card__wrapper{
      grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:600px) {
  .card__modal{
    &-items{
      width: 100%;
    }
  }
    .card__wrapper{
        grid-template-columns: repeat(1,1fr);
        .card{
            width: 80%;
            margin: 0 auto;
        }
    }
}